In [1]:
dataset=[['Milk','Onion','Nutmeg','Kidney Beans','Eggs','Yohurt'],
        ['Dill','Onion','Nutmeg','Kidney Beans','Yougurt'],
        ['Milk','Apple','Kidney Beans','Yogurt'],
        ['Milk','Unicorn','Corn','Kidney Beans','Ice Cream','Eggs']]

In [5]:
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder

In [8]:
dataset

[['Milk', 'Onion', 'Nutmeg', 'Kidney Beans', 'Eggs', 'Yohurt'],
 ['Dill', 'Onion', 'Nutmeg', 'Kidney Beans', 'Yougurt'],
 ['Milk', 'Apple', 'Kidney Beans', 'Yogurt'],
 ['Milk', 'Unicorn', 'Corn', 'Kidney Beans', 'Ice Cream', 'Eggs']]

In [7]:
te=TransactionEncoder()
te_ary=te.fit(dataset).transform(dataset)

In [11]:
df=pd.DataFrame(te_ary,columns=te.columns_)
df

,Apple,Corn,Dill,Eggs,Ice Cream,Kidney Beans,Milk,Nutmeg,Onion,Unicorn,Yogurt,Yohurt,Yougurt
0,False,False,False,True,False,True,True,True,True,False,False,True,False
1,False,False,True,False,False,True,False,True,True,False,False,False,True
2,True,False,False,False,False,True,True,False,False,False,True,False,False
3,False,True,False,True,True,True,True,False,False,True,False,False,False

In [13]:
from mlxtend.frequent_patterns import apriori
frequent_itemset=apriori(df,min_support=0.6,use_colnames=True)
frequent_itemset

   support              itemsets
0     1.00        (Kidney Beans)
1     0.75                (Milk)
2     0.75  (Kidney Beans, Milk)

In [14]:
from mlxtend.frequent_patterns import association_rules
res=association_rules(frequent_itemset,metric='confidence',min_threshold=0.7)
res

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Kidney Beans),(Milk),1.00,0.75,0.75,0.75,1.0,0.0,1.0
1,(Milk),(Kidney Beans),0.75,1.00,0.75,1.00,1.0,0.0,inf

In [16]:
res1=res[['confidence','support','conviction']]
res1

   confidence  support  conviction
0        0.75     0.75         1.0
1        1.00     0.75         inf

In [17]:
res2=res1[res1['confidence']>=1]
res2

   confidence  support  conviction
1         1.0     0.75         inf